# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Flask
instance/
*.sqlite
*.db

# Env
.env
.env.local
*.pem
credentials.json
service_account.json

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
logs/
